* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} /* Reset CSS */


body {
    font-family: 'PermanentMarker', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #3F7D58;
    color: white;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #EF9651; 
}

footer {
    width: 100%;
    background-color: #3F7D58;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

main {
    width: 95%;
    max-width: 95rem;
    display: flex;
    flex-direction: column; /* Stack the items vertically */
    align-items: center;
    gap: 2rem;
    padding: 2rem 1.5rem;
    background-color: rgba(200, 196, 196, 0.8);
    border-radius: 0.5rem;
    margin: 2rem auto;
    border: 2px solid #3F7D58;
}

h2 {
    text-align: center;
    width: 100%;
}


.favorites {
    width: 100%;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

.favorites ul {
    list-style: none;
    padding: 0;
    align-items: center;
}

.favorites li {
    margin: 0.5rem 0;
    text-align: center;
}

.favorites h2 {
    text-align: center;
}

.menu-container {
    width: 100%;
    max-width: 20rem;
    padding: 1rem;
    border-radius: 0.5rem;
}

#map {
    height: 30rem;
    width: 70rem;
    border-radius: 1rem;
    border: 2px solid #3F7D58;
    margin-bottom: 1rem;
}

#menuContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
}

#menuContainer p {
    padding: 0.5rem;
    justify-content: center;
    display: flex;
}

#menuContainer a {
    text-decoration: none;
    color:black;
    transition: color 0.3s ease-in-out;
    justify-content: center;
    display: flex; 
    font-weight: bold;
}

#menuContainer a:hover {
    color: #EF9651; 
}

