* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Reset CSS */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}



main {
    width: 95%;
    max-width: 95rem;
    display: flex;
    flex-direction: column;
    /* Stack the items vertically */
    align-items: center;
    gap: 2rem;
    padding: 2rem 1.5rem;
    margin: 2rem auto;
}


body {
    font-family: Palatino Linotype, serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}


header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: #3F7D58;
    color: white;
}

header h1 {
    margin: 1rem auto;
    margin-left: 10rem;
    text-align: center;
    flex: 1;
}



nav ul {
    list-style: none;
    display: flex;
    /* Places links in a row */
    gap: 1rem;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease-in-out;
    /* Smooth color transition */
    font-weight: bold;
}

nav a:hover {
    color: #EF9651;
}

main p {
    text-align: center;
    max-width: 50rem;
}

footer {
    width: 100%;
    background-color: #3F7D58;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}


.modal {
    display: none;
    /* window is hidden by default */
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    /* darkened background when modal is open */
}

.modal-content {
    background-color: #fefefe;
    margin: 20rem 30rem;
    padding: 2rem;
    border: 0.1rem solid #3F7D58;
    max-width: 25rem;
    border-radius: 1rem;
}

.modal label {
    display: block;
    margin: 0.5rem 0.5rem;
}

.modal button {
    background-color: #3F7D58;
    color: white;
    font-weight: bold;
    display: block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

.modal h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.modal.open {
    display: block;
}

.close {
    color: #aaa;
    float: right;
    font-size: 1.75rem;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#map {
    flex: 2;
    height: 37.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    z-index: 0;
}



#menuContainer h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    justify-content: center;
    display: flex;
}

#menuContainer p {
    padding: 0.5rem;
}

#menuContainer a {
    text-decoration: none;
    color: black;
    transition: color 0.3s ease-in-out;
    justify-content: center;
    display: flex;
    font-weight: bold;
}

#menuContainer a:hover {
    color: #EF9651;
}

#restaurantList {
    flex: 1;
    background-color: #f9f9f9;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    max-height: 37.5rem;
    overflow-y: auto;
}

#restaurantList ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#restaurantList li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-bottom: 1px solid #ddd;
    /* Add a separator between items */
    cursor: pointer;
}

#restaurantContainer {
    display: flex;
    gap: 1rem;
    width: 100%;
    max-width: 90%;
    margin: 0 auto;
}

#restaurantContainer h2 {
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
}

#restaurantItems li.highlight {
    background-color: rgba(239, 150, 81, 0.5);
    font-weight: bold;
    border: 1px solid #EF9651;
}

label[for="cityFilter"] {
    font-size: 1.2rem;
    font-weight: bold;
    margin-right: 0.5rem;
    color: #3F7D58;
}

#cityFilter {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    outline: none;
    width: 15rem;
}